1L_recola/output_cll/*
1L_recola/output_cll/ErrOut.output_cll
1L_recola/output_cll/ErrOut.coli
1L_recola/output_cll/InfOut.cll

understand_conventions/*

1L_madgraph/ttqqg/SubProcesses/P1_Sigma_sm_ddx_gttx/output_cll/*

